.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  position: relative;
  background: rgba(62, 105, 67, 0.6);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-15px);
  transform: scale(1.1);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(156, 47, 3)
}

.deleteBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4d4d;
  border: none;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.deleteBtn:hover {
  background: #d93636;
}

.addBtn {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: rgb(99, 163, 99);
  color: rgb(216, 16, 9);
  cursor: pointer;
  transition: 0.2s;
  font-size: 18px;
}

.moreBtn {
  color: rgb(216, 16, 9);
  font-size: 18px;
  margin-top: 14px;
}

.addBtn:hover {
  background: rgb(100, 190, 100);
}

.status {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}

.buttons {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}