 .navigation {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: #b2ddc0;
  height: 70px;
}

.list {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.listElement {
 font-size: 30px;
 
}

.link {
  text-decoration: none;
   color: rgb(206, 86, 1); 
  font-weight: 500;
}

.link.active {
  color: rgb(252, 108, 6);
}
.cartWrapper {
  margin-left: auto; 
 
  }
