 .navigation {
   display: flex;
   align-items: center;
   padding: 0 50px;
   background-color: #b2ddc0;
   height: 80px;
 }

 .list {
   display: flex;
   gap: 70px;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-top: 10px;
   align-items: center;
   margin-left: 60px;
 }

 .listElement {
   font-size: 30px;

 }

 .link {
   text-decoration: none;
   color: rgb(206, 86, 1);
   font-weight: 500;
 }

 .navigation .link:hover {
   color: rgb(252, 108, 6);
 }

 .cartWrapper {
   margin-left: auto;

 }

 .logoutBtn {
   border: none;
   outline: none;
   padding: 0;
   background: none;
   cursor: pointer;
   font-size: 30px;
   /* если хочешь как пункты меню */
   color: rgb(206, 86, 1);
 }

 .logoutBtn:hover {
   color: rgb(252, 108, 6);
   /* чтобы совпадало с NavLink.active */
   border: none;
 }